html, body {
    overflow: hidden; 
    height: 100%; 
    margin: 0; 
}
body{
    background: url(img/Olvide\ mi\ contraseña\ \(1\).png);
    display: flex;
    height: 100vh;
    width: 100vh;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    margin: 0; 
}
#logo_personal{
    width: 15%;
}
#seccion_video{
    flex-direction: column;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 25px;
    background-color: #d9d9d9;
    height: 50%;
    width: 300%;
    margin-left: 10%;
}
.videoDeSoftware{
    margin-top: 3%;
    width: 90%;
    height: 60%;
    background: #339c9b;
    border-radius: 25px;
}


