html, body {
    overflow: hidden; 
    height: 100vh; 
    margin: 0; 
    background: url("img/Olvide mi contraseña (1).png");
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex;
    font-weight: bold;
    font-style: unset;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    text-align: center;
}

#seccion_eleccion {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    color: white;
    width: 102vh;
}

/* Botones */
.botones {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menu-icon {
    background: #9d9d9e;
    border: 0.3vh solid #1c4a60;
    padding: 15px;
    border-radius: 50px;
    cursor: pointer;
    width: 200px;
    text-align: center;
    transition: 0.3s;
}

.menu-icon:hover {
    background: #0056b3;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.advertencia {
    color: red;
}

/* Botón aceptar */
#aceptar {
    display: inline-block;
    background: #007BFF;
    color: white;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
}

#aceptar:hover {
    background: #0056b3;
}


@media (max-width: 1920px) {
    html, body {
        background: url("img/Olvide\ mi\ contraseña\ \(2\).png");
        background-size: cover; /* Hace que la imagen cubra toda la pantalla */
        background-position: center; /* Centra la imagen */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
    }
  }