html, body {
    overflow: hidden; 
    height: 100vh; 
    margin: 0; 
    background: url("img/Olvide mi contraseña (1).png");
    font-family: Arial, sans-serif;
}

.contenedor {
    width: 100vh;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.tarjeta {
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
}

p {
    font-size: 16px;
    color: #555;
}

.btn-eliminar {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

.btn-eliminar:hover {
    background-color: darkred;
}

.imagen-equipo {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1 );
}

/*responsive del fondo*/
@media (max-width: 1920px) {
    html, body {
        background: url("img/Olvide\ mi\ contraseña\ \(2\).png");
        background-size: cover; /* Hace que la imagen cubra toda la pantalla */
        background-position: center; /* Centra la imagen */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
    }
  }