html, body {
    overflow: hidden; 
    height: 100vh; 
    margin: 0; 
    background: url("img/Olvide mi contraseña (1).png");
    justify-content: center;
    font-family: Arial, sans-serif;
    text-align: center;
    align-items: center;
    align-content: center;
}
#tipo{
    display: flex;
    background-color: #1c4a60;
    border-radius: 5vh;
    height: 50vh;
    width: 100vh;
    margin-left: 45vh;
}

#pregunta{
    height: 50vh;
    border-radius:  5vh;
    background-color: aliceblue;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#seleccion{
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.img{
    transition: 0.3s ease-in-out;
    height: 15vh;
    width: 20VH;
  }
.img:hover{
    transform: translateY(-10px);
  }
#menu{
    background-color: #4d5f68;
    border-radius: 5vh;
    height: 6vh;
    width: 15vh;
    margin-left: 20vh;
}
#menu, img{
    margin-top: 0.5vh;
    width: 5vh;
}
/*responsive del fondo*/
@media (max-width: 1920px) {
    html, body {
        background: url("img/Olvide\ mi\ contraseña\ \(2\).png");
    }
  }