html, body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    background: url("img/Olvide\ mi\ contraseña\ \(1\).png") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}
#texto {
    background: #545454;
    border-radius: 5vh;
    font-size: 2vh;
    color: white;
    text-align: center;
    padding: 2vh;
    margin-bottom: 2vh;
    width: 80vh;
}

#elementosdesglozados {
    background: #339c9b;
    width: 90vh;
    max-width: 100vh;
    border-radius: 5vh;
    padding: 2vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center; 
}

#separador {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    gap: 2vh;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    padding: 1vh;
    text-align: center; 
    margin-left: 13vh;
}

.piso {
    background: #e0e0e0;
    border-radius: 2vh;
    padding: 3vh 1vh;
    text-align: center;
    font-size: 1.2vh;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    color: #333;
    width: 15vh;
    height: 5vh;
    margin: 2vh;
}


.piso:hover {
    background: #d0d0d0;
    cursor: pointer;
}

.piso[data-floor="S2"]::before,
.piso[data-floor="S1"]::before,
.piso[data-floor="1"]::before,
.piso[data-floor="2"]::before {
    content: "📱";
    font-size: 3vh;
    margin-bottom: 1vh;
}

.piso[data-floor="3"]::before,
.piso[data-floor="4"]::before,
.piso[data-floor="5"]::before,
.piso[data-floor="6"]::before {
    content: "📟";
    font-size: 3vh;
    margin-bottom: 1vh;
}

.piso[data-floor="7"]::before,
.piso[data-floor="8"]::before,
.piso[data-floor="9"]::before,
.piso[data-floor="10"]::before {
    content: "📲";
    font-size: 3vh;
    margin-bottom: 1vh;
}
a{
    text-decoration: none;
    color: #333;
}